admin/include/membersite_config.php
admin/include/db_config.php
aduser/server/membersite_config.php
aduser/server/config.php
aduser/server/db_config.php
API/DbConnect.php
include/membersite_config.php
include/db_config.php
includes/db.php
includes/dbfunctions.php
server/php/index.php
